## Likes Report
Noah Vongratana, 9/15/2023

Hypothesis: Instagram was extremely active in 2018
The results of this study can be used to understand what qualifies as popular culture in the modern day

Why this account?: This hypothesis does not rely on any particular demographic

While Professor Silva provided the data, it was most likely collected by Instagram's systems

This data was collected to recommend content similar to the liked content to the user

This data is both reliable and unreliable due to being only one person's data.

Data source: Prof. Silva's Instagram

In [1]:
import pandas as pd
import json

In [2]:
with open(r"C:/Users/sonik/Downloads/technogecko_20200714_toshare/likes.json") as lr:
    likes = json.load(lr)

In [3]:
report = pd.DataFrame(likes['media_likes'])

In [4]:
report

                             0                 1
0    2020-07-11T04:39:28+00:00   ball_doesnt_lie
1    2020-07-11T04:39:05+00:00   ball_doesnt_lie
2    2020-07-05T17:25:44+00:00     ali_saurusrex
3    2020-07-03T03:40:02+00:00  cacandassociates
4    2020-06-25T17:41:50+00:00  cacandassociates
..                         ...               ...
330  2013-02-05T02:58:46+00:00            natgeo
331  2013-02-05T02:22:24+00:00       aroseroar16
332  2013-02-05T01:29:31+00:00       aroseroar16
333  2013-02-04T17:42:04+00:00     ali_saurusrex
334  2013-02-04T17:39:15+00:00      a_matt_silva

[335 rows x 2 columns]

In [6]:
for i in range(0, len(report)):
    print ((str)(i + 1) + ': ' + report[0][i][:4])

1: 2020
2: 2020
3: 2020
4: 2020
5: 2020
6: 2020
7: 2020
8: 2020
9: 2020
10: 2020
11: 2020
12: 2020
13: 2020
14: 2020
15: 2020
16: 2020
17: 2020
18: 2020
19: 2020
20: 2020
21: 2020
22: 2020
23: 2020
24: 2020
25: 2020
26: 2020
27: 2020
28: 2020
29: 2020
30: 2020
31: 2020
32: 2020
33: 2020
34: 2020
35: 2020
36: 2020
37: 2020
38: 2020
39: 2019
40: 2019
41: 2019
42: 2019
43: 2019
44: 2019
45: 2019
46: 2019
47: 2019
48: 2019
49: 2019
50: 2019
51: 2019
52: 2019
53: 2019
54: 2019
55: 2019
56: 2019
57: 2019
58: 2019
59: 2019
60: 2019
61: 2019
62: 2019
63: 2019
64: 2019
65: 2019
66: 2019
67: 2019
68: 2019
69: 2019
70: 2019
71: 2019
72: 2019
73: 2019
74: 2019
75: 2019
76: 2019
77: 2019
78: 2019
79: 2019
80: 2019
81: 2019
82: 2019
83: 2019
84: 2019
85: 2019
86: 2019
87: 2019
88: 2019
89: 2019
90: 2019
91: 2019
92: 2019
93: 2019
94: 2019
95: 2019
96: 2019
97: 2019
98: 2019
99: 2018
100: 2018
101: 2018
102: 2018
103: 2018
104: 2018
105: 2018
106: 2018
107: 2018
108: 2018
109: 2018
110: 2018
111: 2018
112: 2018
113: 2018
114: 2018
115: 2018
116: 2018
117: 2018
118: 2018
119: 2018
120: 2018
121: 2018
122: 2018
123: 2017
124: 2017
125: 2017
126: 2017
127: 2017
128: 2017
129: 2017
130: 2017
131: 2017
132: 2017
133: 2017
134: 2017
135: 2017
136: 2017
137: 2017
138: 2017
139: 2017
140: 2017
141: 2017
142: 2017
143: 2017
144: 2017
145: 2017
146: 2017
147: 2017
148: 2017
149: 2017
150: 2017
151: 2017
152: 2017
153: 2017
154: 2017
155: 2017
156: 2017
157: 2017
158: 2017
159: 2017
160: 2017
161: 2017
162: 2017
163: 2017
164: 2017
165: 2017
166: 2017
167: 2017
168: 2017
169: 2017
170: 2017
171: 2017
172: 2017
173: 2017
174: 2017
175: 2017
176: 2016
177: 2016
178: 2016
179: 2016
180: 2016
181: 2016
182: 2016
183: 2016
184: 2016
185: 2016
186: 2016
187: 2016
188: 2016
189: 2016
190: 2016
191: 2016
192: 2016
193: 2016
194: 2016
195: 2016
196: 2016
197: 2016
198: 2016
199: 2016
200: 2016
201: 2016
202: 2016
203: 2016
204: 2016
205: 2016
206: 2016
207: 2016
208: 2016
209: 2016
210: 2016
211: 2016
212: 2016
213: 2016
214: 2016
215: 2016
216: 2016
217: 2016
218: 2016
219: 2016
220: 2016
221: 2016
222: 2016
223: 2016
224: 2016
225: 2016
226: 2016
227: 2016
228: 2016
229: 2016
230: 2016
231: 2016
232: 2016
233: 2016
234: 2016
235: 2016
236: 2016
237: 2016
238: 2015
239: 2015
240: 2015
241: 2015
242: 2015
243: 2015
244: 2015
245: 2015
246: 2015
247: 2015
248: 2015
249: 2015
250: 2015
251: 2015
252: 2015
253: 2015
254: 2015
255: 2015
256: 2015
257: 2015
258: 2015
259: 2015
260: 2015
261: 2015
262: 2015
263: 2015
264: 2015
265: 2015
266: 2015
267: 2015
268: 2015
269: 2015
270: 2015
271: 2015
272: 2015
273: 2015
274: 2014
275: 2014
276: 2014
277: 2014
278: 2014
279: 2014
280: 2014
281: 2014
282: 2014
283: 2014
284: 2014
285: 2014
286: 2014
287: 2014
288: 2014
289: 2014
290: 2014
291: 2014
292: 2014
293: 2013
294: 2013
295: 2013
296: 2013
297: 2013
298: 2013
299: 2013
300: 2013
301: 2013
302: 2013
303: 2013
304: 2013
305: 2013
306: 2013
307: 2013
308: 2013
309: 2013
310: 2013
311: 2013
312: 2013
313: 2013
314: 2013
315: 2013
316: 2013
317: 2013
318: 2013
319: 2013
320: 2013
321: 2013
322: 2013
323: 2013
324: 2013
325: 2013
326: 2013
327: 2013
328: 2013
329: 2013
330: 2013
331: 2013
332: 2013
333: 2013
334: 2013
335: 2013

Find how many likes happened in what year

Results: 
1. 2016(62)
2. 2019(60)
3. 2017(53)
4. 2013(43)
5. 2020(38)
6. 2015(36)
7. 2018(24)
8. 2014(19)

In [7]:
report.groupby(1).count()

                              0
1
a_matt_silva                 18
ali_saurusrex                68
andrewtcurry                  1
aroseroar16                  29
athenalemon                   1
ball_doesnt_lie               2
bianchi_usa                   2
bsnder                        5
cacandassociates             15
camecol501                    2
carswithoutlimits             1
catsandkilos                  1
cbarker13                     9
colin_storm                  11
danneabreanne                13
drchadlarson                 10
emmyr0o                      16
favoritedekruyfonthecitadel   4
holly.berry_22                1
ibiscycles                    1
inalull                      10
jackie.cc                     9
jennjohnn                     3
jessicaajeean                 2
jhushlordofthesith            1
johnnydhampton                1
jsevier                       1
kateblarson                   2
kellyc00k                     1
leleebabe                     3
lewkmiller                    2
melissarohwer                 1
meredith.wang                 9
miles_sari                    3
mtb_crohnert92                5
mycaninelife                  2
natgeo                        1
odonnellnic                   1
orangekoala2                 27
phd_comics                    1
poorlydrawnlines              2
priscillaannnnn               3
reams_esq                    16
rockymountainbicycles         1
rskinner90                    1
samrosehill                   2
samuel.rhodes                 2
shaunacoxsey                  1
silva_c097                    3
slemdawgmillionaire           1
sp4zie                        1
theradavist                   1
thesignpad                    1
transitionbikes               1
tslemmer                      2
vitalmtb                      1
wrenchscienceusa              1

In [8]:
rep = pd.DataFrame(report.groupby(1).count())

In [9]:
report.tail(30)

                             0                1
305  2013-07-27T04:45:31+00:00      aroseroar16
306  2013-07-26T07:06:05+00:00           bsnder
307  2013-07-19T16:20:58+00:00     drchadlarson
308  2013-07-09T22:18:31+00:00    ali_saurusrex
309  2013-07-09T00:16:33+00:00     drchadlarson
310  2013-06-24T16:54:42+00:00      samrosehill
311  2013-06-19T14:48:25+00:00     drchadlarson
312  2013-06-13T17:45:22+00:00       lewkmiller
313  2013-06-13T06:02:59+00:00     a_matt_silva
314  2013-05-08T13:14:02+00:00    ali_saurusrex
315  2013-05-05T04:37:14+00:00           bsnder
316  2013-04-17T07:22:16+00:00    ali_saurusrex
317  2013-04-15T02:58:49+00:00  priscillaannnnn
318  2013-04-15T01:16:59+00:00      aroseroar16
319  2013-04-15T01:16:58+00:00      aroseroar16
320  2013-04-15T01:16:31+00:00      samrosehill
321  2013-03-15T06:25:34+00:00           bsnder
322  2013-03-03T04:58:48+00:00       rskinner90
323  2013-02-28T07:09:47+00:00         tslemmer
324  2013-02-18T08:49:30+00:00      aroseroar16
325  2013-02-18T08:49:28+00:00      aroseroar16
326  2013-02-16T09:21:54+00:00    ali_saurusrex
327  2013-02-08T05:28:04+00:00      bianchi_usa
328  2013-02-08T05:27:33+00:00     andrewtcurry
329  2013-02-08T05:27:24+00:00      bianchi_usa
330  2013-02-05T02:58:46+00:00           natgeo
331  2013-02-05T02:22:24+00:00      aroseroar16
332  2013-02-05T01:29:31+00:00      aroseroar16
333  2013-02-04T17:42:04+00:00    ali_saurusrex
334  2013-02-04T17:39:15+00:00     a_matt_silva

These are the oldest liked posts

In [11]:
rep

                              0
1
a_matt_silva                 18
ali_saurusrex                68
andrewtcurry                  1
aroseroar16                  29
athenalemon                   1
ball_doesnt_lie               2
bianchi_usa                   2
bsnder                        5
cacandassociates             15
camecol501                    2
carswithoutlimits             1
catsandkilos                  1
cbarker13                     9
colin_storm                  11
danneabreanne                13
drchadlarson                 10
emmyr0o                      16
favoritedekruyfonthecitadel   4
holly.berry_22                1
ibiscycles                    1
inalull                      10
jackie.cc                     9
jennjohnn                     3
jessicaajeean                 2
jhushlordofthesith            1
johnnydhampton                1
jsevier                       1
kateblarson                   2
kellyc00k                     1
leleebabe                     3
lewkmiller                    2
melissarohwer                 1
meredith.wang                 9
miles_sari                    3
mtb_crohnert92                5
mycaninelife                  2
natgeo                        1
odonnellnic                   1
orangekoala2                 27
phd_comics                    1
poorlydrawnlines              2
priscillaannnnn               3
reams_esq                    16
rockymountainbicycles         1
rskinner90                    1
samrosehill                   2
samuel.rhodes                 2
shaunacoxsey                  1
silva_c097                    3
slemdawgmillionaire           1
sp4zie                        1
theradavist                   1
thesignpad                    1
transitionbikes               1
tslemmer                      2
vitalmtb                      1
wrenchscienceusa              1

The name represents an account on Instagram, and the number represents how many of that account's posts were liked by Professor Silva

In [12]:
rep.sort_values(0, ascending = False)

                              0
1
ali_saurusrex                68
aroseroar16                  29
orangekoala2                 27
a_matt_silva                 18
reams_esq                    16
emmyr0o                      16
cacandassociates             15
danneabreanne                13
colin_storm                  11
inalull                      10
drchadlarson                 10
meredith.wang                 9
jackie.cc                     9
cbarker13                     9
mtb_crohnert92                5
bsnder                        5
favoritedekruyfonthecitadel   4
jennjohnn                     3
miles_sari                    3
leleebabe                     3
silva_c097                    3
priscillaannnnn               3
bianchi_usa                   2
lewkmiller                    2
poorlydrawnlines              2
samrosehill                   2
mycaninelife                  2
camecol501                    2
jessicaajeean                 2
samuel.rhodes                 2
tslemmer                      2
ball_doesnt_lie               2
kateblarson                   2
theradavist                   1
thesignpad                    1
transitionbikes               1
shaunacoxsey                  1
sp4zie                        1
rskinner90                    1
vitalmtb                      1
rockymountainbicycles         1
slemdawgmillionaire           1
kellyc00k                     1
phd_comics                    1
odonnellnic                   1
natgeo                        1
melissarohwer                 1
jsevier                       1
johnnydhampton                1
jhushlordofthesith            1
ibiscycles                    1
holly.berry_22                1
catsandkilos                  1
carswithoutlimits             1
athenalemon                   1
andrewtcurry                  1
wrenchscienceusa              1

Same data, but sorted from the most likes to the least

In [13]:
rep.sort_values(0, ascending = False).head(20)

                              0
1
ali_saurusrex                68
aroseroar16                  29
orangekoala2                 27
a_matt_silva                 18
reams_esq                    16
emmyr0o                      16
cacandassociates             15
danneabreanne                13
colin_storm                  11
inalull                      10
drchadlarson                 10
meredith.wang                 9
jackie.cc                     9
cbarker13                     9
mtb_crohnert92                5
bsnder                        5
favoritedekruyfonthecitadel   4
jennjohnn                     3
miles_sari                    3
leleebabe                     3

In [14]:
rep.shape

(57, 1)

Most of the difficulty with this analysis stems from all data being used is from one account. In order to improve the results, checking other accounts would be useful.